.Home-container {
    background: url('../../images/fav3.jpeg') no-repeat center;
    background-size: cover;
    color: #bf4f4df5;
}

.Home {
    display: flex;
    text-align: center;
    margin-bottom: 5rem;
}

* {
    box-sizing: border-box;
}

.Home-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-form_server-error {
    top: 0rem;
    position: absolute;
    background: #FFC4C5;
    width: 34%;
    justify-content: center;
    padding: 6px;
    left: 0;
    color: #800606;
}

.Home-form_failure-dismiss {
    top: 0;
    position: absolute;
    right: 2rem;
    font-size: 22px;
    cursor: pointer;
}

.Home-form_field {
    margin: 1rem 0;
    text-align: left;
}

.Home-form_field:last-child {
    display: flex;
    justify-content: center;
}

.Home-form_field .Home-form_label {
    width: 5rem;
    text-transform: uppercase;
}

.Home-form_field .Home-form_client-error {
    background: #e66d6d;
    color: white;
    width: 15.7rem;
    font-size: 14pt;
    font-weight: bold;
}

.Home-form_field .Home-form_control-container input {
    padding: 6px 1rem;
    border: solid 1px lightgray;
    border-radius: 3px
}

.Home-form_loading {
    margin: auto;
}

.Home-form_field .Home-form_button {
    color: white;
    line-height: 1.5;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background: #168e16c2;
    cursor: pointer;
    margin-left: -1.5rem;
}

.Home-form_field .Home-form_control .Home-form_button:disabled {
    background: #669866;
    border: none;
}

.Home-form_field .Home-form_control .Home-form_button:disabled:hover {
    cursor: not-allowed;
}

.Home-form_failure_dismiss:hover {
    text-decoration: underline;
}

.Home-card_container,
.Home-form_container {
    width: 50%;
}

.Home-card_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.Home-form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home_nav {
    text-align: center;
    font-family: serif;
    background: #FFC9C7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Home-logout {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 14pt;
}

.Home-logout_button {
    margin-right: 6rem;
    border-radius: 10px;
    border: none;
    padding: 5px 9px;
    background: #CDEFEB;
    color: #bf4f4df5;
    cursor: pointer;
}

.Home-logout_button:hover {
    background: #bae6e1;
    color: #bf4f4df5;
}

.Home-websites {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Home-websites-container {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.Home-websites .Card {
    margin-right: 2%;
    margin-bottom: 1rem;
    width: 100%;
    color: #bf4f4df5;
}

.Home-websites .Card:nth-child(4n) {
    margin-right: 0;
}

.Home-websites .Card-delete_confirmation {
    padding: 1rem;
}

.Home-websites .Card-delete_confirmation p {
    display: flex;
    flex-direction: row;
    text-align: center;
}

@media only screen and (max-width: 570px) {
    .Home-websites .Card {
        width: 80%;
        margin-bottom: 3rem;
    }
    .Home-form_container {
        width: 100%
    }
    .Home-websites .Card:nth-child(4n) {
        margin-right: 2%;
    }
    .Home-card_container {
        display: none;
    }
    .home-logout_button {
        margin-right: 1rem;
    }
    .Home-title {
        margin: auto;
    }
}

@media only screen and (min-width:571px) {
    .Home-websites .Card:nth-child(4n) {
        margin-right: 2%;
    }
    .Home-websites .Card:nth-child(2n) {
        margin-right: 0;
    }
    .Home-websites .Card {
        width: 47%;
        margin-bottom: 3rem;
    }
    .Home-websites .Card .Card-title {
        padding-left: 3rem;
    }
    .Home-websites .Card .Card-description_label {
        font-size: 20px;
    }
    .Home-websites .Card .Card-indicator_green {
        left: 0.5rem;
    }
    .Home-card_container {
        display: none;
    }
    .Home {
        justify-content: center;
    }
    .Home-form_container {
        box-shadow: 0 0 1px 1px #6abfbf;
        margin-top: 1rem;
        border-radius: 1rem;
        padding-top: 1rem;
    }
}

@media only screen and (min-width:581px) {
    .Home-websites .Card {
        margin-right: 4%;
    }
    .Home-websites .Card .Card-description_label {
        font-size: 19px;
    }
}

@media only screen and (min-width:750px) {
    .Home-websites .Card:nth-child(3n) {
        margin-right: 0;
    }
    .Home-websites .Card:nth-child(2n) {
        margin-right: 2%;
    }
    .Home-websites .Card {
        width: 30%;
        margin-right: 2%;
    }
}

@media only screen and (min-width: 1246px) {
    .Home-websites .Card {
        width: 24%;
        margin-right: 1%;
    }
    .Home-websites {
        justify-content: start;
    }
    .Home-card_container {
        display: flex;
    }
    .Home-form_container {
        box-shadow: none;
        margin-top: 0;
        border-radius: none;
        padding-top: 0;
    }
    .Home-websites .Card:nth-child(4n) {
        margin-right: 0;
    }
    .Home-websites .Card:nth-child(2n) {
        margin-right: 1%;
    }
    .Home-websites .Card:nth-child(3n) {
        margin-right: 1%;
    }
    .Home-websites .Card {
        margin-right: 1%;
    }
}